{% extends 'base.html' %}
{% block content %}

{% load static %}

<h1>TODO Template</h1>

<div class="container">
    <h3 class="pt-5 text-center">Django ToDo App</h3>
    <div class="row">
        <h4>My Day</h4>
        <p class="text-muted">{% now "jS F Y" %}</p>
        <div class="col-md-6 col-lg-7" style="height: 450px; overflow: scroll;">
            <!-- List of all the tasks for the day -->
            {% for tasks in uncompletedTasks %}
            <div class="card m-1">
                <div class="card-body">
                    {{tasks}}
                    <span style="position: relative; float: right;">
                        <a class="btn btn-success"><i class="fa fa-check"></i> Mark as Done</a>
                        <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        <a class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-5 col-lg-5">
            <div style="position: absolute; right: 20px;">
                <!--  add Task button-->
                <div class="form-group">
                    <span style="display: flex;">
                        <button class="btn btn-primary" style="width: 200px;"><a href="{% url 'usingModelForm' %}"><i class="fa fa-plus"></i>Add Task</a>Add Task</button>
                    </span>
                </div>
            </div><br>

            <h5>Completed Tasks</h5>
            <!-- List of all the tasks that have completed -->
            {% for tasks in completedTasks %}
            <div class="card m-1">
                <div class="card-body">                    
                   {{tasks}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}




       
           